#welcome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myCarousel{
    width: 70% !important;

}

.carousel-item{
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    width:1100 !important;
    height:500 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    
}

.carousel-caption{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    -webkit-transition: 1s ease-in-out left;
    -moz-transition: 1s ease-in-out left;
    -o-transition: 1s ease-in-out left;
    transition: 3   s ease-in-out left;
}
