body{
    background-image: linear-gradient(#5D89DA,#FFC252) ;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
}

#bandeau{
    position: relative;
    width:100%; 
    height:205px;
}

#bandeau .title{
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

#imgBandeau{
    position: absolute;
    z-index:1;
    width: 100%;
    height: 205px;
    
}
   
li{
    color: lightgray;
}

.icon{
    background-color: white;
}

.myLink i {
    color: #fff;
    margin-left : 10px;
}

.myLink {
    display: flex;
    align-items: center;
}

.icon:hover{
    background-color: rgb(59, 89, 152) !important;
}

#logoCesi{
    height: 50px;
    width: 50px;
}

.whiteBar{
    background-color: white;
    width: 2px;
    height: 200px;
    align-self: center;
}

.button img:hover{
    background-color: rgb(59, 89, 152) !important;
}

.myLink:link, h3
{
    color: rgb(220, 220, 220)  !important;
    text-decoration: none  !important;
}
.myLink:visited
{
    color: rgb(220, 220, 220);
    text-decoration: none;
}
.myLink:hover, .myLink:hover > i 
{
    color: rgb(59, 89, 152) !important;
    text-decoration: none;
}

.myLink:active
{
    color: rgb(220, 220, 220);
    text-decoration: none;
}

/*FOOTER*/

#footer {
    flex-shrink: 0;
    color: #fff;
    position:bottom;
    bottom:0;
    width:100%;
    height:fit-content;   /* Height of the footer */
    background:#000;
    padding : 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;   
}

.colonne {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.colonne a {
    padding-bottom: 0px; 
}

#sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#event {
    margin-right: 20px;
}

#boutique {
    margin-left: 20px;
}

#network{
    color: black;
    align-items: center;
    justify-content: space-evenly;
}

#network a {
    color: rgb(220, 220, 220);
    
} 

#network a img {
    background-color: rgb(220, 220, 220);
}

#network a:hover{
    color: rgb(59, 89, 152);
}

@media screen and (max-width: 1000px) {
    #footer {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
    }

    .whiteBar{
       background-color: rgb(220, 220, 220);;
       width: 80%;
       height: 2px;
       margin:10px;
   }

   .colonne{
       margin:10px;
   }

   #network {
       flex-direction: row;
   }

   #network a{
    margin:10px;
}
}
