.eventContainer {
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 100px;
    padding-bottom : 100px;
    flex-direction: column;
    /* background-color: #fff;  */
}

.eventPanel {
    background-color: rgba(255,255,255,0);
    width:80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-color: #5D89DA;
}

.eventHead {
    background-color: #d8d8d8;
    height:250px;
    width: 100%;
    overflow: hidden;
}

.eventImage {
    width:100%;
    min-height: 250px;
}

.eventBody {
    background-color: rgba(255,255,255,0.4);
    height:fit-content;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.eventTotal {
    background-color: #fff;
    height:50px;
    width: fit-content;
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    border-radius: 5px;
}

.eventItem {
    height : fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding : 5px;
    flex-wrap: wrap;
    border:1px solid #000;
}

.eventLabel {
    flex:1;
    min-width: fit-content;
    height:100%;
    border : 1px solid #5D89DA;
}

#titleEvent {
    text-align: left;
    text-transform: capitalize;
}

#dateEvent {
    text-align: right;
}

#decriptionEvent {
    text-transform: capitalize;
}

#priceEvent {
    font-size: 50;
    font-weight: bold;
    text-align: right;
}

.eventPanel a {
    color:#000;
    width: 100%;
}

.eventTotal .eventLabel {
    border:none;
}

.validate {
    margin:20px;
    margin-left: 70%;
}

.eventItem form {
    height:100%;
    margin:10px;
}
