.eventContainer {
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 100px;
    padding-bottom : 100px;
    flex-direction: column;
    /* background-color: #fff;  */
}

.eventPanel {
    background-color: rgba(255,255,255,0);
    width:80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-color: #5D89DA;
}

.eventHead {
    background-color: #d8d8d8;
    height:250px;
    width: 100%;
    overflow: hidden;
}

#eventImage {
    width:100%;
    min-height: 250px;
}

.eventBody {
    background-color: rgba(255,255,255,0.4);
    height:fit-content;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.eventTotal {
    background-color: #fff;
    height:50px;
    width: fit-content;
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    border-radius: 5px;
}

.eventItem {
    height : fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding : 5px;
    flex-wrap: wrap;
    /* border:1px solid #000; */
}

.eventLabel {
    flex:1;
    min-width: fit-content;
    height:100%;
    /* border : 1px solid #5D89DA; */
}

.labelLeft {
    text-align: left;
}

.labelLeft::first-letter {
    text-transform: uppercase;
}

.labelRight {
    text-align: right;
}

.labelLeft a {
    color:black!important;
    text-transform: none;
}

.labelLeft a:hover {
    color:#5D89DA!important;
    text-decoration: none;
}

#priceEvent {
    font-size: 50;
    font-weight: bold;
}

.labelAdmin {
    display:flex;
    flex-direction: row;
}

.eventPanel a {
    color:#000;
    width: 100%;
}

.eventTotal .eventLabel {
    border:none;
}

.validate {
    margin:20px;
    margin-left: 70%;
}

.eventItem form {
    height:100%;
    margin:10px;
}

.mediaPanel {
    background-color: rgba(255,255,255,0.4);
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-color: #5D89DA;
    margin-top: 20px;
}

.mediaPhotoPanel {
    height:fit-content;
    min-width: fit-content;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 5px;
}

.mediaPhoto {
    width:100%;
    height: auto;
    z-index: 1;
}

.mediaLike {
    background-color: #fff;
    border-radius : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    position: absolute;
    /* left: 0px; */
    bottom: 0;
    z-index: 2;
}

.mediaCredit {
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:5px;
}

.mediaPost {
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: red;
}

.mediaComment {
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
    width : 70%;
    padding : 10px;
}

.commentHead {
    /* border : 1px solid #000;  */
    background-color: #739ae2;
    border-radius: 5px;
    padding : 3px;
    padding-left : 5px;
    
    margin-bottom : 10px;
}

.commentContent {
    /* border : 1px solid #000; */
    background-color: #e8e8e8;
    border-radius: 5px;
    padding : 5px;
    margin-left : 10px;
}
