aside{
    float: left;
      margin: 10px;
      width : 250px;
  }
  img{
      width: 1000px;
      height: 1000px;
  }
  

  
  @media screen and (max-width: 600px) {

  
      aside {
          width:90%;
          align-self: center;
      }
  }
  