.card-header {
    background-color: #5D89DA!important;
    border-radius: 0px!important;
    color : #fff!important;
}

.card {
    margin: 10px;
    border-color: #5D89DA!important;
    border-width: 2px!important;
    border-radius: 5px!important;
    background-color: rgba(255,255,255,0)!important;
    flex:1;
}

.card-body {
    background-color: rgba(255,255,255,0.1)!important;
    font-weight: bold;
}

.card button {
    background-color: #5D89DA;
    border-color: #5D89DA;
    color : #fff;
    box-shadow: none!important;
}

.card button:hover {
    background-color: #fff;
    border-color: #5D89DA;
    color : #5D89DA;
}

.card button:active {
    box-shadow: none!important;
    background-color: #5D89DA!important;
    color : #fff;
    border-color : #5D89DA!important;
}

.card .form-control:focus { 
    border-color: #5D89DA;
    box-shadow: 0 0 8px #5D89DA;
}
.btn-link {
    color : #5D89DA!important;
}

div .panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 30px;
}

@media screen and (max-width: 1100px) {
    div .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 30px;
    height:fit-content;
    }
  }